/**
UNA COSA QUE ES UTIL ES SEPARAR LOS CSS EN DISTINTOS ARCHIVOS,
POR EJEMPLO, PODRIAS TENER UNO SOLO CON LA ESTRUCTURA BASICA DEL SITIO,
EN ESE DEFINIRIAS EL BODY, LOS HEADERS Y TODOS LOS ESTILOS QUE LE APLIQUES A LOS TAGS Y SEAN GENERICOS
PARA TODO EL SITIO

EL RESTO, POR EJEMPLO, SI ESTAS HACIENDO UNA SECCION ESPECIFICA QUE CONTIENE MUCHO CSS ES MEJOR SEPARARLO EN UN ARCHIVO INDEPENDIENTE
**/

/* empezamos con el body */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

/* elementos del header */
/**
ASUMO QUE YA SABES QUE SI LE DAS ESTILO DIRECTAMENTE A UN TAG DE HTML ESTOS APLICARAN A TODOS LOS TAGS DEL SITIO NO?
YO PREFIERO UTILIZAR LAS CLASES EN VEZ DE METERLE CSS AL TAG DIRECTAMENTE
**/
header {
  width: 80rem;
  height: 4.5625rem;
  text-align: center;
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem;
}

/* hero-section*/
/** 
DE PREFERENCIA SIEMPRE OCUPA CLASES PARA DAR ESTILO A LOS ELEMENTOS
SE SUPONE QUE EL ID DE LOS ELEMENTOS DEBE SER UNICO EN TODO EL SITIO
ASI QUE AL ASIGNAR EL CSS ASI, SOLO PODRÁS UTILIZARLO UNA VEZ
**/
#iguana {
  background-image: url('../img/bg-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80em;
  height: 45.4375em;
}

/*descripcion iguana*/

#descripcion_iguana {
  width: 80em;
  height: 21.75em;
}

.descripcion {
  width: 29.688em;
  height: 12.313em;
  margin-left: 9.375em;
  margin-top: 4.75em;
  margin-bottom: 4.688em;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  text-align: left;
}

.fotoiguana {
  width: 24.938em;
  height: 14.813em;
  background-image: url('../img/iguana-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 2.813em;
  margin-left: 6.625em;
}

/*caracteristicas*/
#caracteristicas {
  background-color: #1e1a13;
  width: 1280px;
  height: 21.75em;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding-top: 75px;
  padding-left: 463.5px;
  padding-right: 460.5px;
}

.icono {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  padding-top: 50px;
}

/**
CUANDO VEAS BOOTSTRAP VAS A CACHAR QUE HACER GRILLAS PARA ALINEAR ELEMENTOS ES MUCHO MAS SENCILLO
HAY QUE TRATAR DE HACER QUE EL CSS QUEDE LO MAS GENERICO POSIBLE, SINO VAS A TERMINAR CON ARCHIVOS GIGANTECOS Y ESO SE VUELVE INMANEJABLE
POR EJEMPLO, ESTA CLASE OJO CON ESE PADDING ES MUY POCO PROBABLE QUE LO PUEDAS VOLVER A REUTILIZAR
QUIZAS TE SIRVA MAS MARGIN: AUTO PARA DEJARLO CENTRADO. REVISA ESA PROPIEDAD
**/
.ojo {
  padding-left: 301px;
}

.mano {
  padding-left: 182px;
}

.pincel {
  padding-left: 145.88px;
}



/*fotos de iguana*/
#fotos {
  width: 80em;
  height: 21.75em;
  background-color: #000000;
  padding-left: 9.375em;
}

#fotos div {
  width: 19.75em;
  height: 12.625em;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 4.563em;
  margin-bottom: 4.563em;
  margin-left: 1em;
}

/**
ES CONVENIENTE DARLE NOMBRES MAS DESCRIPTIVOS PARA NO PERDERSE, SOBRE TODO SI DESPUES TRABAJAS CON MAS GENTE
CUANDO VI EL HTML NO TENIA IDEA QUE ERA UNA IGUANA-2
**/
.iguana-2 {
  background-image: url('../img/iguana-2.jpg');
}

.iguana-3 {
  background-image: url('../img/iguana-3.jpg');
}

.iguana-4 {
  background-image: url('../img/iguana-4.jpg');
}

/* footer */
footer {
  width: 1280px;
  background-color: #1e1a13;
  height: 6.375em;
  text-align: center;
  padding-top: 2.438em;
  padding-bottom: 2.438em;
  font-size: 1.25em;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #ffffff;
}
